<div class="category">
  <app-select [data]="categories" [title]="'Categories'" (selectedValue)="filterCategory($event)" ></app-select>
</div>
<div class="cards" *ngIf="!isLoading">
  <div class="card" *ngFor="let product of products">
    <img src="{{ product.image }}" alt="card image" />
    <h3>{{ product.title }}</h3>
    <p>{{ product.description }}</p>
    <div class="order-it">
      <button>Add to Cart</button>
      <h4>{{ product.price }}</h4>
    </div>
  </div>
</div>
<div class="spinner"*ngIf="isLoading">
  <app-spinner></app-spinner>
</div>
