<div class="category">
  <label for="categories">Categories</label>
  <select name="categories" id="categories" (change)="filterCategory($event)">
    <option value="all" selected>all</option>
    <option  *ngFor="let item of categories">{{ item }}</option>
  </select>
</div>
<div class="cards">
  <div class="card" *ngFor="let product of products">
    <img src="{{ product.image }}" alt="card image" />
    <h3>{{ product.title }}</h3>
    <p>{{ product.description }}</p>
    <div class="order-it">
      <button>Add to Cart</button>
      <h4>{{ product.price }}</h4>
    </div>
  </div>
</div>
